*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: arial;
    /* background-color: #3ca395; */
    /* background-color:#f97316 ; */
    /* background-color: #ff8c2e; */
    background-color: oklch(0.446 0.043 257.281);
}

nav{
    width: 100%;
    height: 60px;
    /* background-color: rgba(82, 61, 50, 0.822); */
    background-color: oklch(0.374 0.01 67.558);

    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul{
    width: 500px;
    height: 50px;
    /* background-color: red; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;
}

nav ul li a{
    /* background-color: aqua; */
    font-size: 1.2rem;
    color:aliceblue;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    
}

nav ul li a:hover{
    /* background-color: rgba(90, 231, 90, 0.575); */
    background-color: #ef4444;
    cursor: pointer;
    
}
/* Navigation End */

 /* Start Home */
 #home{
     margin-top: 75px;
 }

 #home h1{
    color:#fff;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;

 }

 #home p{
    color: #fff;
    text-align: center;
    line-height: 3.5rem;
    font-size: 1.2rem;
    margin-bottom: 20px;
 }

 #home .homebtn{
    text-align: center;
 }

 #home .homebtn a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 13px 25px;
 }

 #home a{
    /* background-color: rgba(90, 184, 72, 0.836); */
    background-color: #ef4444;
    text-decoration: none;
    /* display: block; */
    color: #fff 
    
 }
 #home .homebtn a:hover{
    /* background-color:rgba(5, 161, 52, 0.589); */
    background-color: #f87171;

   
 }
 /* End Home */

 /* Start Profile */

 #profile{
    width: 100%;
    height: 300px;
    /* background-color: skyblue; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
 }

 #profile h2{
    font-size: 2.4rem;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-weight:normal;
 }

 #profile .about{
    width: 70%;
    height: 200px;
    /* color: #fff; */
    /* background-color: red; */

    display: flex;
    justify-content: space-around;
    align-items: center;
 }

#profile .about .aboutimg{
    width: 150px;
    /* width: 50%; */
    height: 150px;
    background-color: purple;
    border-radius: 50%;
    margin-left: 230px;
    border: 5px solid #ef4444;
}

#profile .about .aboutimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#profile .about .aboutcontent{
    width: 100%;
    max-width: 500px;
    /* width: 610px; */
    height: 150px;
    /* background-color: crimson; */
    /* margin-right: 0; */
    margin-right: 250px;
}

#profile .about .aboutcontent p{
    font-family: arial;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2rem;
    color: #fff;
}

/* End Profile */

/* Start Skill */
#skill{
     width: 100%;
     height: 800px;
     /* background-color: cyan; */

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     color: #fff;
}

#skill h2{
    font-size: 2.5rem;
}

#skill .skillcontainer{
    width: 52%;
    height: 300px;
    /* background-color: brown; */

    display: flex;
    justify-content: space-around;
    color: #fff;

}

#skill .skillcontainer div{
    width: 450px;
    height: 300px;
    /* background-color: green; */
    background-color:  #ef4444;
}

#skill .skillcontainer div:hover{
    box-shadow: 0px 5px 10px #00000031;
}

#skill .skillcontainer div h3{
    text-align: center;
    font-size: 2rem;
    margin: 25px 0px 10px 0px;
}

#skill .skillcontainer div ul{
    padding-left: 30px;
}

#skill .skillcontainer div ul li{
    font-size: 1.2rem;
    line-height: 2rem;
    
}

/* End Skill*/

/* Start Contact */

#contact{
    width: 100%;
    height: 300px;
    /* background-color: aqua; */

       display: flex;
       justify-content: space-around;
       align-items: center;
       
      
}

#contact .contacttext{
    width: 300px;
    height: 250px;
    /* background-color: brown; */
    padding-top: 50px;
    margin-left: 0;
    /* align-self: flex-start; */
}
    

#contact table tr td{
    color: #fff;
}

#contact table tr td:hover{
    color: #000000;
    cursor: pointer;
}

#contact .contactmap{
    width: 400px;
    height: 250px;
    background-color: deeppink;
}

#contact .contactmap iframe{
    width: 100%;
    height: 100%;
}

/* End Contact */

/* Start Footer */

footer{
    width: 100%;
    height: 30px;
    background-color: #000000b2;
}

footer p{
    text-align: center;
    line-height: 30px;
    color: white;
}


@media (max-width: 768px){
    body{
        width: 100%;
    }
    #profile{
        height: 665px;
        margin-top: 0px;
        padding-bottom: 220px;
    }
    #profile .about{
        flex-direction: column;
    }
    #profile .about .aboutimg{
        margin-left: 0px;
    }
    #profile .about .aboutcontent{
        padding: 0 60px;
        margin-right: 0px;
    }
    #profile .about .aboutcontent p{
        font-size: 1rem;
    }
    #skill{
        height: 1500px;
    }
    #skill h2{
        padding-top: 70px;
    }
    #skill .skillcontainer{
        height: 700px;
        flex-direction: column;
        align-items: center;
     }
     #skill .skillcontainer div{
        margin-top: 20px;
     }
     #contact{
        height: 500px;
        flex-direction: column;
        justify-content: center;
     }
}